.layout {
    @apply fixed;
    @apply h-screen w-screen;
    display: grid;
    grid-template-columns: 100vw;
}

.layout-gutter {
    @apply flex items-center justify-center;
    @apply bg-line;
    height: auto;
    cursor: ns-resize;

    &:after {
        @apply text-dimmed;
        @apply text-center;
        content: '•••';
        font-size: 10px;
        line-height: 6px;
        word-break: break-all;
    }
}

.layout-columns {
    &.layout {
        grid-template-rows: 100vh;
    }

    & .layout-gutter {
        cursor: ew-resize;
    }
}
